@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebecf1;
  color: #b3b9b9;
}

#wrapper {
  width: 880px;
  margin: 50px auto;
}
.links {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 3px;
}
.links ul {
  display: flex;
  justify-content: center;
}

.links ul li {
  margin: 0 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  cursor: pointer;
}

.links ul li:hover,
.links ul li.active {
  color: #4abd3e;
}

.view_item img {
  width: 45px;
}
.view_main {
  background-color: white;
  border-radius: 3px;
  padding: 15px;
}

.list-view .view_item {
  border: 1px solid #e2efe1;
  margin: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-view .view_item:last-child {
  margin-right: 0;
}

.list-view .view_item .vi_left {
  margin-left: 25px;
}

.list-view .view_item .vi_right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid red;
}
.list-view .view_item .vi_right .name {
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
}
.view.item;
